<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    {% include '../samples/header.liquid' %}
    {% block %}{% endblock %}
    {% include 'samples/footer.liquid' %}
</body>
</html>