<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Car</title>
</head>
<body>
  <div class="car">
      {% assign car = this.getCar %}
      <div class="car__id">
          {{ car.id }}
      </div>

      <div class="car__model">
          {{ car.model }}
      </div>

  </div>
</body>
</html>