{% layout "layout/default-layout.liquid", title: 'Car', isLoggedIn: isLoggedIn %}
{% block %}
    {% assign car = this.getCar %}
    <div class="wrapper">
        {% include 'samples/table-header-car.liquid' %}
        {% include 'samples/car-sample.liquid', car: car %}
    </div>
{% endblock %}

