{% layout "layout/default-layout.liquid", title: 'My information', isLoggedIn: isLoggedIn %}
{% block %}
<div class="wrapper">
    {% assign client = this.getClient %}
    {% assign csrfToken = this.getCsrfToken %}

    {% include 'samples/client-information-sample.liquid', client: client, csrfToken: csrfToken %}
</div>
{% endblock %}