<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Clients</title>
</head>
<body>
@@include('samples/header.liquid')
<div class="clients">
    {% assign clients = this.getClients %}

    {% for client in clients %}
        @@include('samples/client-sample.liquid')
    {% endfor %}
</div>
@@include('samples/footer.liquid')
</body>
</html>