{% layout "layout/default-layout.liquid", title: 'Service records', isLoggedIn: isLoggedIn %}
{% block %}
    {% assign serviceRecords = this.getServiceRecords %}
    <div class="wrapper">
        {% include 'samples/table-header-service-record.liquid' %}
        {% for serviceRecord in serviceRecords %}
            {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
        {% endfor %}
    </div>
{% endblock %}