{% layout "layout/default-layout.liquid", title: 'Error', isLoggedIn: isLoggedIn %}
{% block %}
{% assign error = this.getError %}
<div class="wrapper">
    {% include 'samples/error-sample.liquid', error: error %}
</div>
{% endblock %}