{% layout "layout/default-layout.liquid", title: 'Masters' %}
{% block %}
{% assign masters = this.getMasters %}
<div class="wrapper">
    {% include 'samples/table-header-master.liquid' %}
    {% for master in masters %}
        {% include 'samples/master-sample.liquid', master: master %}
    {% endfor %}
</div>

<form class="form" action="/master" method="post">
    <div class="form__item">
        <label class="form__label" for="name">Имя:</label>
        <input class="form__input" type="text" id="name" name="name">
    </div>

    <div class="form__item">
        <label class="form__label" for="surname">Фамилия:</label>
        <input class="form__input" type="text" id="surname" name="surname">
    </div>

    <div class="form__item">
        <label class="form__label" for="head_master">Имя старшего мастера:</label>
        <input class="form__input" type="text" id="head_master_name" name="head_master_name">
    </div>

    <div class="form__item">
        <label class="form__label" for="head_master">Фамилия старшего мастера:</label>
        <input class="form__input" type="text" id="head_master_surname" name="head_master_surname">
    </div>

    <div class="form__item">
        <label class="form__label" for="service_center">Сервиcный центер:</label>
        <input class="form__input" type="text" id="service_center" name="service_center">
    </div>

    <button class="button button_submit" type="submit">Добавить</button>
</form>
{% endblock %}