{% layout "layout/default-layout.liquid", title: 'Masters', isLoggedIn: isLoggedIn %}
{% block %}
{% assign masters = this.getMasters %}
{% assign csrfToken = this.getCsrfToken %}
<div class="wrapper">
    {% include 'samples/table-header-master.liquid' %}
    {% for master in masters %}
        {% include 'samples/master-sample.liquid', master: master %}
    {% endfor %}
</div>

<form class="form" action="/master" method="post">

    <input name="csrf_token" type="hidden" value={{ csrfToken }}>

    <div class="form__item">
        <label class="form__label"
               for="name"
        >
            Имя:
        </label>
        <input class="form__input"
               type="text"
               id="name"
               name="name"
        >
    </div>

    <div class="form__item">
        <label class="form__label"
               for="surname"
        >
            Фамилия:
        </label>
        <input class="form__input"
               type="text"
               id="surname"
               name="surname"
        >
    </div>

    <div class="form__item">
        <label class="form__label"
               for="headMasterName"
        >
            Имя старшего мастера:
        </label>
        <input class="form__input"
               type="text"
               id="headMasterName"
               name="headMasterName"
        >
    </div>

    <div class="form__item">
        <label class="form__label"
               for="headMasterSurname"
        >
            Фамилия старшего мастера:
        </label>
        <input class="form__input"
               type="text"
               id="headMasterSurname"
               name="headMasterSurname"
        >
    </div>

    <div class="form__item">
        <label class="form__label"
               for="serviceCenterName"
        >
            Сервиcный центер:
        </label>
        <input class="form__input"
               type="text"
               id="serviceCenterName"
               name="serviceCenterName"
        >
    </div>

    <button class="button button_submit"
            type="submit"
    >
        Добавить
    </button>
</form>
{% endblock %}