{% layout "layout/default-layout.liquid", title: 'Cars', isLoggedIn: isLoggedIn %}
{% block %}
    <div class="wrapper">
        {% include 'samples/table-header-car.liquid' %}
        {% assign cars = this.getMyCars %}
        {% for car in cars %}
            {% include 'samples/car-sample.liquid', car: car %}
        {% endfor %}
    </div>
{% endblock %}