{% layout "layout/default-layout.liquid", title: 'Registration', isLoggedIn: isLoggedIn %}
{% block %}
<div class="wrapper">
    {% include 'samples/registration-sample.liquid' %}
</div>
{% endblock %}