{% layout "layout/default-layout.liquid", title: 'Registration', isLoggedIn: isLoggedIn %}
{% block %}
<div class="wrapper">
    {% assign csrfToken = this.getCsrfToken %}
    {% include 'samples/registration-sample.liquid' , csrfToken: csrfToken %}
</div>
{% endblock %}