<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Service centers</title>
</head>
<body>
@@include('samples/header.liquid')
<div class="service-centers">
    {% assign serviceCenters = this.getServiceCenters %}

    {% for serviceCenter in serviceCenters %}
        @@include('samples/service-center-sample.liquid')
    {% endfor %}
</div>
@@include('samples/footer.liquid')
</body>
</html>