{% layout "layout/default-layout.liquid", title: 'Service records' %}
{% block %}
    {% assign serviceRecords = this.getServiceRecords %}
    <div class="wrapper">
        {% include 'samples/table-header-service-record.liquid' %}
        {% for serviceRecord in serviceRecords %}
            {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
        {% endfor %}
    </div>

    <form class="form" action="/service-record" method="post">
        <div class="form__item">
            <label class="form__label" for="car">Машина:</label>
            <input class="form__input" type="text" id="car" name="car">
        </div>

        <div class="form__item">
            <label class="form__label" for="client">Клиент:</label>
            <input class="form__input" type="text" id="client" name="client">
        </div>

        <div class="form__item">
            <label class="form__label" for="date">Дата:</label>
            <input class="form__input" type="date" id="date" name="date">
        </div>

        <button class="button button_submit" type="submit">Добавить</button>
    </form>
{% endblock %}