{% layout "layout/default-layout.liquid", title: 'Service centers', isLoggedIn: isLoggedIn %}
{% block %}
    {% assign serviceCenters = this.getServiceCenters %}
    {% assign csrfToken = this.getCsrfToken %}
    <div class="wrapper">
        {% include 'samples/table-header-service-center.liquid' %}
        {% for serviceCenter in serviceCenters %}
            {% include 'samples/service-center-sample.liquid', serviceCenter: serviceCenter %}
        {% endfor %}
    </div>

    <form class="form" action="/service-center" method="post">

        <input name="csrf_token" type="hidden" value={{ csrfToken }}>

        <div class="form__item">
            <label class="form__label"
                   for="name"
            >
                Имя:
            </label>
            <input class="form__input"
                   type="text"
                   id="name"
                   name="name"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="countryName"
            >
                Страна:
            </label>
            <input class="form__input"
                   type="text"
                   id="countryName"
                   name="countryName"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="cityName"
            >
                Город:
            </label>

            <input class="form__input"
                   type="text"
                   id="cityName"
                   name="cityName"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="street"
            >
                Улица:
            </label>
            <input class="form__input"
                   type="text"
                   id="street"
                   name="street"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="house"
            >
                Дом:
            </label>
            <input class="form__input"
                   type="number"
                   id="house"
                   name="house"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="numberSeats"
            >
                Количество мест:
            </label>
            <input class="form__input"
                   type="number"
                   id="numberSeats"
                   name="numberSeats"
            >
        </div>

        <button class="button button_submit"
                type="submit"
        >
            Добавить
        </button>
    </form>
{% endblock %}