<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Service record</title>
</head>
<body>
{% include 'samples/header.liquid' %}
<div class="service-record">
    {% assign serviceRecord = this.getServiceRecord %}
    {% include 'samples/service-record-sample.liquid' %}
</div>
{% include 'samples/footer.liquid' %}
</body>
</html>