{% layout "layout/default-layout.liquid", title: 'Service records' %}
{% block %}
    {% assign serviceRecords = this.getServiceRecords %}
    {% for serviceRecord in serviceRecords %}
        {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
    {% endfor %}
    <form action="/add_service_record" method="post">
        <div>
            <label for="car">Машина:</label>
            <input type="text" id="car" name="car">
        </div>

        <div>
            <label for="client">Клиент:</label>
            <input type="text" id="client" name="client">
        </div>

        <div>
            <label for="date">Дата:</label>
            <input type="date" id="date" name="date">
        </div>

        <div class="button">
            <button type="submit">Добавить</button>
        </div>
    </form>`
{% endblock %}