{% layout "layout/default-layout.liquid", title: 'Service record' %}
{% block %}
    {% assign serviceRecord = this.getServiceRecord %}
    <div class="wrapper">
        {% include 'samples/table-header-service-record.liquid' %}
        {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
    </div>
{% endblock %}