{% layout "layout/default-layout.liquid", title: 'Service records', isLoggedIn: isLoggedIn %}
{% block %}
    {% assign serviceRecords = this.getServiceRecords %}
    {% assign csrfToken = this.getCsrfToken %}
    <div class="wrapper">
        {% include 'samples/table-header-service-record.liquid' %}
        {% for serviceRecord in serviceRecords %}
            {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
        {% endfor %}
    </div>

    <form class="form" action="/service-record" method="post">

        <input name="csrf_token" type="hidden" value={{ csrfToken }}>

        <div class="form__item">
            <label class="form__label"
                   for="number"
            >
                Машина:
            </label>
            <input class="form__input"
                   type="text"
                   id="number"
                   name="number"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="passport"
            >
                Паспорт клиента:
            </label>
            <input class="form__input"
                   type="text"
                   id="passport"
                   name="passport"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="clientName"
            >
                Имя клиента:
            </label>
            <input class="form__input"
                   type="text"
                   id="clientName"
                   name="clientName"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="clientSurname"
            >
                Фамилия клиента:
            </label>
            <input class="form__input"
                   type="text"
                   id="clientSurname"
                   name="clientSurname"
            >
        </div>

        <div class="form__item">
            <label class="form__label"
                   for="date"
            >
                Дата:
            </label>
            <input class="form__input"
                   type="date"
                   id="date"
                   name="date"
            >
        </div>

        <button class="button button_submit"
                type="submit"
        >
            Добавить
        </button>
    </form>
{% endblock %}