{% layout "layout/default-layout.liquid", title: 'Service records' %}
{% block %}
    {% assign serviceRecords = this.getServiceRecords %}
    {% for serviceRecord in serviceRecords %}
        {% include 'samples/service-record-sample.liquid', serviceRecord: serviceRecord %}
    {% endfor %}
    <form class="form" action="/service-record" method="post">
        <div class="form__item">
            <label class="form__label" for="car">Машина:</label>
            <input class="form__input" type="text" id="car" name="car">
        </div>

        <div class="form__item">
            <label class="form__label" for="client">Клиент:</label>
            <input class="form__input" type="text" id="client" name="client">
        </div>

        <div class="form__item">
            <label class="form__label" for="date">Дата:</label>
            <input class="form__input" type="date" id="date" name="date">
        </div>

        <div class="button button_submit">
            <button type="submit">Добавить</button>
        </div>
    </form>`
{% endblock %}