{% layout "layout/default-layout.liquid", title: 'User profile', isLoggedIn: isLoggedIn %}
{% block %}
<div class="wrapper">
    {% include 'samples/user-profile-sample.liquid' %}
</div>
{% endblock %}