<div class="user-profile">
    <ul class="user-profile__list">
        <li class="user-profile__item">
            <a class="user-profile__link"
               href="/my-cars"
            >
                Мои машины
            </a>
        </li>

        <li class="user-profile__item">
            <a class="user-profile__link"
               href="/my-records"
            >
                Мои записи
            </a>
        </li>

        <li class="user-profile__item">
            <a class="user-profile__link"
               href="/my-information"
            >
                Моя информация
            </a>
        </li>

        <li class="user-profile__item">
            <a class="user-profile__link"
               href="/logout"
            >
                Выйти
            </a>
        </li>
    </ul>
</div>
