<div class="client__id">
    {{ client.id }}
</div>

<div class="client__name">
    {{ client.name }}
</div>

<div class="client__surname">
    {{ client.surname }}
</div>

<div class="client__passport">
    {{ client.passport }}
</div>