<div class="error-registration">
    <p class="error-registration__text">Пользователь с таким email уже существует попробуйте
    <a class="error-registration__link"
       href="/registration"
    >
        снова
    </a>
    </p>
</div>
