<div class="error-login">
    <p class="error-login__text">Некорректный пароль или email
        <a class="error-login__link"
           href="/login"
        >
            снова
        </a>
    </p>
</div>
