<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link"
                   href="/cars"
                >
                    Машины
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link"
                   href="/service-centers"
                >
                    Сервисные центры
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link"
                   href="/clients"
                >
                    Клиенты
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link"
                   href="/service-records"
                >
                    Записи на обслуживание
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link"
                   href="/masters"
                >
                    Мастеры
                </a>
            </li>

            {% if isLoggedIn -%}
                <li class="nav__item">
                    <a class="nav__link"
                       href="/user-profile"
                    >
                        Личный кабинет
                    </a>
                </li>
            {% else %}
                <li class="nav__item">
                    <a class="nav__link"
                       href="/login"
                    >
                        Войти
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link"
                       href="/registration"
                    >
                        Регистрация
                    </a>
                </li>
            {% endif -%}

        </ul>
    </nav>
</header>