<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="/cars">Машины</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/service_centers">Сервисные центры</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/clients">Клиенты</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/service_records">Записи на обслуживание</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/masters">Мастеры</a>
            </li>
        </ul>
    </nav>
</header>