<div class="master">
    <div class="master__name">
        {{ master.name }}
    </div>

    <div class="master__surname">
        {{ master.surname }}
    </div>

    <div class="master__head-master">
        {{ master.head_master_id }}
    </div>

    <div class="master__service-center">
        {{ master.service_center_id }}
    </div>
</div>