<div class="master">
    <div class="master__name">
        {{ master.name }}
    </div>

    <div class="master__surname">
        {{ master.surname }}
    </div>

    <div class="master__head-master">
        {{ master.headMasterId }}
    </div>

    <div class="master__service-center">
        {{ master.serviceCenterId }}
    </div>
</div>