<div class="error-login">
    <p class="error-login__text">
        <a class="error-login__link"
           href="/login"
        >
            Войдите
        </a> в свой аккаунт, чтобы продолжить</p>
</div>