 <div class="table-header">
        <div class="table-header__item">
            <span class="table-header__text">Id</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Модель</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Пробег</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Номер</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Марка</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Страна</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Имя владельца</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Фамилия владельца</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Год производства</span>
        </div>
 </div>