<div class="table-header table-header_service-record">
    <div class="table-header__item">
        <span class="table-header__text">Id</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Номер машины</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Паспорт клиента</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Имя клиента</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Фамилия клиента</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Дата</span>
    </div>
</div>