<div class="table-header table-header_service-center">
    <div class="table-header__item">
        <span class="table-header__text">Id</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Название</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Страна</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Город</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Адрес</span>
    </div>
    <div class="table-header__item">
        <span class="table-header__text">Количество мест</span>
    </div>
</div>