 <div class="table-header table-header_master">
        <div class="table-header__item">
            <span class="table-header__text">Id</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Имя</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Фамилия</span>
        </div>
        <div class="table-header__item">
            <span class="table-header__text">Имя наставника</span>
        </div>
         <div class="table-header__item">
             <span class="table-header__text">Фамилия наставника</span>
         </div>
         <div class="table-header__item">
             <span class="table-header__text">Сервис</span>
         </div>
 </div>