@import '../helpers/mixins';
@import '../helpers/colors';

.bottom-nav {
    @include flex-center();
    padding: 10px 0;

    border-bottom: 1px solid $main-color;

    &__link {
        margin-left: 20px;

        @include font(20px, 400, $main-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}